<div class="login">
    <div class="login__row" *ngIf="!loader">

        <div class="login__col">
            <a class="login__logo" href="index.html">
                <img style="width: 60px; height: 60px;" src="/assets/img/promotions-icon-3.png" alt=""  routerLink="">
            </a>
            <h1 class="login__title h1">We live &<br>breathe words</h1>
            <div class="login__info h6">Pour thoughts on paper</div>
            <div class="login__preview"><img src="/assets/img/figures-2.png" alt=""></div>
        </div>

        <div class="login__col">
            <a class="login__logo" href="index.html">
                <img style="width: 40px; height: 40px;" src="/assets/img/promotions-icon-3.png" alt="" routerLink="">
            </a>

            <!-- FORGET PASSWORD -->
            <div class="login__form" *ngIf="!submitted">
                <div class="login__stage h4">
                    Forget Password <br>to Flatpage Classic
                </div>
                <form [formGroup]="forgetpasswordForms" (ngSubmit)="onSubmit()">
                    <div class="login__field field js-field">
                        <div class="field__label">
                            Email
                        </div>
                        <div class="field__wrap">
                            <div style="display:flex; align-items:center; justify-content: flex-end; width: 100%;">
                                <span 
                                    class="help-block1" 
                                    *ngIf="message == 'Email Not Found'">
                                    <i class="fa-solid fa-hippo"></i> 
                                    {{ message }}
                                </span>
                             </div>

                            <input 
                                class="field__input js-field-input common"
                                type="email" 
                                formControlName="email"
                                autofocus
                            >
                            <span
                                class="help-block"
                                *ngIf="!forgetpasswordForms.get('email').valid && forgetpasswordForms.get('email').touched"
                            >
                            Please enter a valid Email
                        </span>
                        </div>
                    </div>
                    <br>
                    <button 
                        [ngStyle]="{'opacity': (forgetpasswordForms.status !== 'VALID') ? '0.5' : '1'}"
                        [disabled]="forgetpasswordForms.status !== 'VALID'" 
                        style="cursor: pointer;" 
                        class="login__btn btn btn_blue btn_wide">
                      Continue
                    </button>
                </form>

                <div class="login__flex">
                    <div class="login__text">Not a member?</div>
                    <a class="login__link" routerLink="/signup">
                        <svg
                            class="icon icon-link">
                            <use xlink:href="/assets/img/sprite.svg#icon-link"></use>
                        </svg>Sign up now
                    </a>
                </div>
            </div>

            <!-- RESET PASSWORD -->
            <div class="login__form" *ngIf="submitted">
                <div class="login__stage h4">
                    Reset Password <br>to Flatpage Classic
                </div>
                <form [formGroup]="resetpasswordForms" (ngSubmit)="onSubmit2()">
                    <div class="login__field field js-field">
                        <!-- New password -->
                        <div class="field__label">
                            New Password
                        </div>
                        <div class="field__wrap">
                            <input 
                                class="field__input js-field-input common"
                                type="password" 
                                formControlName="password"
                                #passwordtoggler
                                (paste)="(false)"
                                autofocus
                            >
                            <span
                                class="help-block"
                                *ngIf="!forgetpasswordForms.get('email').valid && forgetpasswordForms.get('email').touched"
                            >
                            Please enter a valid Password
                        </span>
                        </div>
                        <div class="flexer-eye">
                            <a 
                                class="eye-droppper" 
                                (click)="togglePasswordtoShow()"> 
                                <i 
                                    class="fa fa-eye-slash"
                                    #iconEye
                                    aria-hidden="true">
                                </i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="login__field field js-field">
                    <!-- Confirm password -->
                        <div class="field__label">
                            Confirm Password
                        </div>
                        <div class="field__wrap">
                            <input 
                                class="field__input js-field-input common"
                                type="password" 
                                formControlName="confirmpassword"
                                (paste)="(false)"
                                #passwordtoggler2
                                [ngClass]="{
                                    bordered:
                                    resetpasswordForms.get('confirmpassword').touched && 
                                    resetpasswordForms.invalid
                                }"
                                [ngClass]="{
                                    not_bordered:
                                    resetpasswordForms.get('confirmpassword').touched && 
                                    !resetpasswordForms.invalid
                                }"
                            >
                            <div
                                *ngIf="
                                resetpasswordForms.get('password').touched &&
                                resetpasswordForms.get('confirmpassword').touched &&
                                resetpasswordForms.errors
                                ">
                                <span
                                    class="help-block">
                                Password doesn't match
                                </span> 
                          </div>
                        </div>
                        <div class="flexer-eye">
                            <a 
                                class="eye-droppper" 
                                (click)="togglePasswordtoShow2()"> 
                                <i 
                                    class="fa fa-eye-slash"
                                    #iconEye2 
                                    aria-hidden="true">
                                </i>
                            </a>
                        </div>
                    </div>
                    <br>
                    <button 
                        [ngStyle]="{'opacity': (resetpasswordForms.status !== 'VALID') ? '0.5' : '1'}"
                        [disabled]="resetpasswordForms.status !== 'VALID'" 
                        style="cursor: pointer;" 
                        class="login__btn btn btn_blue btn_wide">
                        Save Changes
                    </button>
                </form>

            
            </div>
        </div>
    </div>
    <div class="login__row2" *ngIf="loader">
        <mat-spinner color="accent"></mat-spinner> <br>
        <h4>Loading . . . Please Wait</h4>
    </div>
</div>