<div class="flex"
    style="display: flex;
    align-items: flex-start;
    justify-content: center;">

    <!-- child 1 -->
    <textarea
        name="form"
        id="google_translate_element"
        cols="30"
        rows="10"
        #textbox
    ></textarea>

    <!-- child 2 -->
    <button
        style="padding: 7px 15px;
        color: #fff;
        margin: 20px;
        background-color: #e883ff;
        border-radius: 4px;" 
        (click) = "aiTranslate()">AI Translate</button>
</div>

<div id="google_translate_element"></div>


