<section id="sec1">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="logo" routerLink="">
            <img src="/assets/img/bg.webp" alt="" />
          </a>
          <h1>Convert your book <br> to voice</h1>
          <p>
            We provide easy way for our users to make use of best ebook services
            which includes voice support. Upload your very first ebook and listen
            its audio version.
          </p>
          <a 
            class="btn" 
            routerLink = "/flatpage/uploadbook"
            >Upload E-Book</a
          >
        </div>
      </div>
    </div>
  </section>